.contact_section{
    max-width: 1000px;
    margin: 0 auto; 
}

.contact_section h1{
    font-weight: 800;
    font-size: 40px;
    max-width: 80%;
}

.contact_section p{
    font-weight: 600;
    color: var(--gray);
}